* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #F1F3F4;
}

.container {
  width: 900px;
  height: 1100px;
  margin: 50px auto;
  background-color: white;
  border-radius: 4px;
}

.container > div {
  padding: 25px;
}

.container p {
  width: fit-content;
  text-align: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #D7F3EF;
  border-bottom: 2px solid #90DDD3;
  height: 80px;
}

.header p {
  width: 200px;
}

.name {
  display: flex;
  justify-content: center;
  padding: 25px;
}

.name > p{
  font-size: 3rem;
  text-align: center;
  margin: 0 auto;
}

.education,
.work-experience,
.statement {
  display: flex;
  border-top: 3px solid #E6F8F5;
  padding: 25px 50px;
  gap: 30px;
}

.education > p,
.work-experience > p,
.statement > p {
  width: 180px;
  text-align: left;
}

.education > div {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 30px 30px;
}

.work-experience > div {
  display: grid;
  grid-template-columns: 150px 150px;
  grid-template-rows: 30px 30px 200px;
}

.work-experience > div > *:last-child {
  grid-column: 1 / 3;
}

.work-experience > div > *:nth-child(odd),
.education > div > *:nth-child(odd) {
  font-weight: bold;
  font-size: 1.2rem;
}

form textarea {
  resize: none;
  height: 200px;
  width: 300px;
  padding: 4px;
  display: block;
}

form input {
  width: 140px;
  padding: 4px;
  text-align: center;
  outline: none;
}

button {
  width: fit-content;
  padding: 5px 10px;
}
