* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 600px;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 25px;
}

label {
  padding-right: 10px;
}

form > button {
  width: fit-content;
  padding: 5px 10px;
}