* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F1F3F4;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 900px;
  height: fit-content;
  margin: 50px auto;
  padding-bottom: 40px;
  background-color: white;
  border-radius: 4px;
}

.container,
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > div,
form > div {
  width: 900px;
}

form {
  width: 900px;
}

.header span {
  width: fit-content;
  text-align: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #D7F3EF;
  border-bottom: 2px solid #90DDD3;
  height: 80px;
}

.header span {
  width: 200px;
}

.name {
  display: flex;
  justify-content: center;
  padding: 25px 0px;
}

.name > span,
.name input{
  font-size: 3rem;
  text-align: center;
  margin: 0 auto;
  width: fit-content;
}

.education,
.work-experience,
.statement {
  display: flex;
  border-top: 3px solid #E6F8F5;
  padding: 25px 50px;
  gap: 30px;
}

.education > p,
.work-experience > p,
.statement > p {
  width: 180px;
  text-align: left;
}

.statement > div,
.work-experience > div {
 width: 580px;
}

.education > div {
  display: grid;
  grid-template-rows: 30px 30px;
}

.work-experience > div {
  display: grid;
  grid-template-rows: 30px 30px 200px;
}

.work-experience > div > div >span:nth-child(odd),
.education > div > div > span:nth-child(odd) {
  font-weight: bold;
  font-size: 1.2rem;
}

.work-experience > div > div >span:nth-child(even),
.education > div > div > span:nth-child(even) {
  font-size: 0.9rem;
}

form textarea {
  resize: none;
  height: 200px;
  width: 600px;
  padding: 4px;
  display: block;
}

form input {
  width: 160px;
  padding: 4px;
  text-align: center;
  outline: none;
}

button {
  width: fit-content;
  padding: 5px 10px;
}
